@using MyFirstAspNetCoreApplication.ViewModels.Home
@model IndexViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@* IConfiguration configuration - използва се за четене на настройките от appsettings.json *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <h1>Been on privacy page: @Model.ReadPrivacy</h1>
    <h2>It @Model.Year year.</h2>
    <p>We have @Model.UsersCount users.</p>
    <p>Този комп има @Model.ProcessorCount ядра.</p>
    <p>Ай дито е @Model.Id</p>
</div>
<h2>@Configuration["HelloMessage"]</h2>
@* Използваме предимно индексатора на @Configuration. При по-сложните обекти пътя се разделя с ":" *@
<h2>Log level: @Configuration["Logging:LogLevel:Default"]</h2>

<form>
    <textarea asp-for="Descripton"></textarea>
    <input asp-for="Name" />
    <input asp-for="Year" />
</form>

<partial name="_HomePageStart" model="Model.Descripton" />

<table bootstrap-table="" table-name="Таблица с числа:">
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            <td>@i</td>
        </tr>
    }
</table>

@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com">Google</a>
    </li>
}
